* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gloock", serif;
  font-family: "Rubik", sans-serif;
  background-color: rgb(18, 16, 128);
}

.logo {
  display: flex;
  margin: 42px 173px;
}

.home {
  display: flex;
  flex-direction: column;
}

.home .fast {
  color: aqua;
  font-size: 10rem;
  margin: auto 163px;
}

.home .secont {
  color: aqua;
  font-size: 10rem;
  margin: -11px 161px;
}

.home p {
  color: wheat;
  font-size: 22px;
  margin: 30px 170px;
  width: 415px;
}

.btn {
  background-color: aqua;
  color: #0c0c0b;
  display: block;
  width: 327px;
  padding: 15px;
  margin: 23px 169px;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.follow {
  display: flex;
}

.follow img {
  position: relative;
  left: 9%;
}

.follow p {
  padding: 25px 25px;
}

.bgimg {
  display: flex;
}

.img1 {
  position: absolute;
  top: 42%x;
  right: 18%;
}

.img1 img {
  position: absolute;
  z-index: -1;
}

.img2 {
  position: absolute;
  top: 1%;
  right: 9%;
}

.img2 img {
  position: absolute;
  z-index: -1;
}

.img5 {
  position: absolute;
  top: 13%;
  right: 37%;
}

.img5 img {
  position: absolute;
  z-index: -1;
}

.img3 {
  position: absolute;
  top: 12%;
  left: 3%;
}

.img3 img {
  position: absolute;
  z-index: -1;
}

.img6 {
  position: absolute;
  top: 46%;
  left: 48%;
}

.img6 img {
  z-index: -1;
}

.img4 {
  position: absolute;
  top: 58%;
  right: 20%;
}
